# Análise de Séries Temporais do Banco Central do Brasil
   Este notebook tem como objetivo explorar e analisar séries temporais fornecidas pela API do Banco Central do Brasil. Vamos buscar dados de diferentes séries econômicas e visualizá-los de forma simples.

   ## Importação de Bibliotecas
   Utilizamos as bibliotecas `requests` para fazer requisições HTTP, `pandas` para manipulação de dados e `datetime` para trabalhar com datas.

In [21]:
import requests
import pandas as pd
from datetime import datetime

   ## Função `get_bcb_series`
   A função `get_bcb_series` busca dados de uma série temporal específica do Banco Central do Brasil, utilizando o código da série e um intervalo de datas. Retorna um DataFrame com as informações.

In [22]:
def get_bcb_series(codigo, data_inicial="01/01/2024", data_final=None):
    if data_final is None:
        data_final = datetime.today().strftime('%d/%m/%Y')
    
    url = f"https://api.bcb.gov.br/dados/serie/bcdata.sgs.{codigo}/dados?formato=json&dataInicial={data_inicial}&dataFinal={data_final}"
    response = requests.get(url)
    if response.status_code == 200:
        df = pd.DataFrame(response.json())
        df['data'] = pd.to_datetime(df['data'], format="%d/%m/%Y")
        df['valor'] = df['valor'].str.replace(',', '.').astype(float)
        return df
    else:
        print(f"Erro ao buscar dados para a série {codigo}")
        return pd.DataFrame()

   ## Dicionário de Séries
   O dicionário `series` contém os códigos das séries temporais que queremos analisar. Cada chave representa o nome da série e o valor é o código usado na API.

In [23]:

series = {
    "selic_meta": 11,
    "selic_mes": 4390,
    "selic_mes_anualizada": 4189,
    "selic_anualizada": 1178,
    "dolar": 1,
    "euro": 21619,
    "inadimplencia_publica": 13667,
    "saldo_credito_pf": 20541,
}

   ## Coleta de Dados
   Aqui coletamos os dados para cada série especificada no dicionário. Se a coleta for bem-sucedida, os dados são armazenados em um DataFrame.

In [24]:
dados = {nome: get_bcb_series(codigo) for nome, codigo in series.items()}

dados.keys()

dict_keys(['selic_meta', 'selic_mes', 'selic_mes_anualizada', 'selic_anualizada', 'dolar', 'euro', 'inadimplencia_publica', 'saldo_credito_pf'])

## Visualização dos DF

In [25]:
for nome, df in dados.items():
    print(f'Visualização da série: {nome}')
    display(df.head())

Visualização da série: selic_meta

        data     valor
0 2024-01-02  0.043739
1 2024-01-03  0.043739
2 2024-01-04  0.043739
3 2024-01-05  0.043739
4 2024-01-08  0.043739

Visualização da série: selic_mes

        data  valor
0 2024-01-01   0.97
1 2024-02-01   0.80
2 2024-03-01   0.83
3 2024-04-01   0.89
4 2024-05-01   0.83

Visualização da série: selic_mes_anualizada

        data  valor
0 2024-01-01  11.65
1 2024-02-01  11.15
2 2024-03-01  11.00
3 2024-04-01  10.65
4 2024-05-01  10.46

Visualização da série: selic_anualizada

        data  valor
0 2024-01-02  11.65
1 2024-01-03  11.65
2 2024-01-04  11.65
3 2024-01-05  11.65
4 2024-01-08  11.65

Visualização da série: dolar

        data   valor
0 2024-01-02  4.8916
1 2024-01-03  4.9212
2 2024-01-04  4.9188
3 2024-01-05  4.8899
4 2024-01-08  4.8850

Visualização da série: euro

        data   valor
0 2024-01-02  5.3543
1 2024-01-03  5.3676
2 2024-01-04  5.3900
3 2024-01-05  5.3691
4 2024-01-08  5.3603

Visualização da série: inadimplencia_publica

        data  valor
0 2024-01-01   2.67
1 2024-02-01   2.68
2 2024-03-01   2.67
3 2024-04-01   2.72
4 2024-05-01   2.80

Visualização da série: saldo_credito_pf

        data      valor
0 2024-01-01  3560807.0
1 2024-02-01  3580901.0
2 2024-03-01  3614106.0
3 2024-04-01  3646778.0
4 2024-05-01  3674815.0